{% extends "recognition/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Enroll{% endblock title %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <label>Upload face images:</label>
    <input type="file" name="face_images" multiple required>
    {% bootstrap_button button_type="submit" content="Enroll Student" %}
</form>

<link rel="stylesheet" href="{% static 'recognition/css/enroll_loading.css' %}">
<script src="{% static 'recognition/js/enroll_loading.js' %}"></script>

{% endblock content %}

